# Created by .ignore support plugin (hsz.mobi)
secretStuff.py
__pycache__/
venv/Include/
venv/Lib/site-packages/__pycache__/
venv/Lib/site-packages/aiohttp/__pycache__/
venv/Lib/site-packages/async_timeout/__pycache__/
venv/Lib/site-packages/attr/__pycache__/
venv/Lib/site-packages/certifi/__pycache__/
venv/Lib/site-packages/chardet/__pycache__/
venv/Lib/site-packages/chardet/cli/__pycache__/
venv/Lib/site-packages/discord/__pycache__/
venv/Lib/site-packages/discord/ext/commands/__pycache__/
venv/Lib/site-packages/discord/ext/tasks/__pycache__/
venv/Lib/site-packages/idna/__pycache__/
venv/Lib/site-packages/multidict/__pycache__/
venv/Lib/site-packages/pip/__pycache__/
venv/Lib/site-packages/pip/_internal/__pycache__/
venv/Lib/site-packages/pip/_internal/cli/__pycache__/
venv/Lib/site-packages/pip/_internal/commands/__pycache__/
venv/Lib/site-packages/pip/_internal/distributions/__pycache__/
venv/Lib/site-packages/pip/_internal/index/__pycache__/
venv/Lib/site-packages/pip/_internal/models/__pycache__/
venv/Lib/site-packages/pip/_internal/network/__pycache__/
venv/Lib/site-packages/pip/_internal/operations/__pycache__/
venv/Lib/site-packages/pip/_internal/operations/build/__pycache__/
venv/Lib/site-packages/pip/_internal/operations/install/__pycache__/
venv/Lib/site-packages/pip/_internal/req/__pycache__/
venv/Lib/site-packages/pip/_internal/resolution/__pycache__/
venv/Lib/site-packages/pip/_internal/resolution/legacy/__pycache__/
venv/Lib/site-packages/pip/_internal/resolution/resolvelib/__pycache__/
venv/Lib/site-packages/pip/_internal/utils/__pycache__/
venv/Lib/site-packages/pip/_internal/vcs/__pycache__/
venv/Lib/site-packages/pip/_vendor/__pycache__/
venv/Lib/site-packages/pip/_vendor/cachecontrol/__pycache__/
venv/Lib/site-packages/pip/_vendor/cachecontrol/caches/__pycache__/
venv/Lib/site-packages/pip/_vendor/certifi/__pycache__/
venv/Lib/site-packages/pip/_vendor/chardet/__pycache__/
venv/Lib/site-packages/pip/_vendor/chardet/cli/__pycache__/
venv/Lib/site-packages/pip/_vendor/colorama/__pycache__/
venv/Lib/site-packages/pip/_vendor/distlib/__pycache__/
venv/Lib/site-packages/pip/_vendor/distlib/_backport/__pycache__/
venv/Lib/site-packages/pip/_vendor/html5lib/__pycache__/
venv/Lib/site-packages/pip/_vendor/html5lib/_trie/__pycache__/
venv/Lib/site-packages/pip/_vendor/html5lib/filters/__pycache__/
venv/Lib/site-packages/pip/_vendor/html5lib/treeadapters/__pycache__/
venv/Lib/site-packages/pip/_vendor/html5lib/treebuilders/__pycache__/
venv/Lib/site-packages/pip/_vendor/html5lib/treewalkers/__pycache__/
venv/Lib/site-packages/pip/_vendor/idna/__pycache__/
venv/Lib/site-packages/pip/_vendor/msgpack/__pycache__/
venv/Lib/site-packages/pip/_vendor/packaging/__pycache__/
venv/Lib/site-packages/pip/_vendor/pep517/__pycache__/
venv/Lib/site-packages/pip/_vendor/pkg_resources/__pycache__/
venv/Lib/site-packages/pip/_vendor/progress/__pycache__/
venv/Lib/site-packages/pip/_vendor/requests/__pycache__/
venv/Lib/site-packages/pip/_vendor/resolvelib/__pycache__/
venv/Lib/site-packages/pip/_vendor/toml/__pycache__/
venv/Lib/site-packages/pip/_vendor/urllib3/__pycache__/
venv/Lib/site-packages/pip/_vendor/urllib3/contrib/__pycache__/
venv/Lib/site-packages/pip/_vendor/urllib3/contrib/_securetransport/__pycache__/
venv/Lib/site-packages/pip/_vendor/urllib3/packages/__pycache__/
venv/Lib/site-packages/pip/_vendor/urllib3
/packages/backports/__pycache__/
venv/Lib/site-packages/pip/_vendor/urllib3/packages/ssl_match_hostname/__pycache__/
venv/Lib/site-packages/pip/_vendor/urllib3/util/__pycache__/
venv/Lib/site-packages/pip/_vendor/webencodings/__pycache__/
venv/Lib/site-packages/pkg_resources/__pycache__/
venv/Lib/site-packages/pkg_resources/_vendor/__pycache__/
venv/Lib/site-packages/pkg_resources/_vendor/packaging/__pycache__/
venv/Lib/site-packages/pkg_resources/extern/__pycache__/
venv/Lib/site-packages/praw/__pycache__/
venv/Lib/site-packages/praw/models/__pycache__/
venv/Lib/site-packages/praw/models/list/__pycache__/
venv/Lib/site-packages/praw/models/listing/__pycache__/
venv/Lib/site-packages/praw/models/listing/mixins/__pycache__/
venv/Lib/site-packages/praw/models/reddit/__pycache__/
venv/Lib/site-packages/praw/models/reddit/mixins/__pycache__/
venv/Lib/site-packages/praw/util/__pycache__/
venv/Lib/site-packages/prawcore/__pycache__/
venv/Lib/site-packages/requests/__pycache__/
venv/Lib/site-packages/setuptools/__pycache__/
venv/Lib/site-packages/setuptools/_vendor/__pycache__/
venv/Lib/site-packages/setuptools/_vendor/packaging/__pycache__/
venv/Lib/site-packages/setuptools/command/__pycache__/
venv/Lib/site-packages/setuptools/extern/__pycache__/
venv/Lib/site-packages/urllib3/__pycache__/
venv/Lib/site-packages/urllib3/contrib/__pycache__/
venv/Lib/site-packages/urllib3/contrib/_securetransport/__pycache__/
venv/Lib/site-packages/urllib3/packages/__pycache__/
venv/Lib/site-packages/urllib3/packages/backports/__pycache__/
venv/Lib/site-packages/urllib3/packages/ssl_match_hostname/__pycache__/
venv/Lib/site-packages/urllib3/util/__pycache__/
venv/Lib/site-packages/websocket/__pycache__/
venv/Lib/site-packages/websocket/tests/__pycache__/
venv/Lib/site-packages/websockets/__pycache__/
venv/Lib/site-packages/websockets/extensions/__pycache__/
venv/Lib/site-packages/yarl/__pycache__/
venv/Scripts/__pycache__/
